<kendo-chart>
  <kendo-chart-legend position="bottom"></kendo-chart-legend>
  <kendo-chart-value-axis>
    <kendo-chart-value-axis-item [title]="{ text: 'Size' }">
    </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>

  <kendo-chart-category-axis>
    <kendo-chart-category-axis-item
      [labels]="{ format: '$#.000', rotation: 'auto' }"
      [title]="{ text: 'Price' }"
    >
    </kendo-chart-category-axis-item>
  </kendo-chart-category-axis>

  <kendo-chart-series>
    <kendo-chart-series-item
      *ngFor="let item of currentSeries()"
      [data]="item.items"
      [name]="item.value"
      field="size"
      categoryField="value"
      type="bar"
    >
    </kendo-chart-series-item>
  </kendo-chart-series>
</kendo-chart>

@if(isReplayMode) {
<button kendoButton (click)="stop()">Stop</button>
} 
@else {
<button kendoButton (click)="replay()">Replay</button>
}

<form [formGroup]="form">
  <kendo-label class="k-display-block" [for]="slider"></kendo-label>
  <kendo-slider
    #slider
    [showButtons]="false"
    formControlName="slider"
    [title]="title"
    [min]="min"
    [max]="max"
    [largeStep]="step"
  ></kendo-slider>
</form>
